body {
  --primary-color: #FF5722;
  --secondary-color: #E65100;
  --tertiary-color: #212121;
  --quaternary-color: #FFFFFF;
  --accent-color: #FBC02D;
  background-color: #F6F6F6;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto 0;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
}

.todo-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-btn {
  background-color: var(--primary-color);
  border: none;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-btn:hover {
  background-color: var(--secondary-color);
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--quaternary-color);
  border-bottom: 1px solid var(--tertiary-color);
  padding: 10px;
}

.todo-list li:hover {
  background-color: var(--tertiary-color);
}

.view-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.view-todo p {
  font-size: 1rem;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  background-color: var(--tertiary-color);
  border: none;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: var(--secondary-color);
}

.delete-btn {
  background-color: var(--secondary-color);
  border: none;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: var(--primary-color);
}

.edit-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.edit-input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.save-btn {
  background-color: var(--primary-color);
  border: none;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.save-btn:hover {
  background-color: var(--accent-color);
}

.cancel-btn {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.cancel-btn:hover {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.sort-by {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sort-by label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-by select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--tertiary-color);
  font-size: 16px;
  outline: none;
}

.sort-by select:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .todo-input {
    font-size: 1rem;
  }

  .todo-button {
    font-size: 1rem;
    padding: 0.3rem 0;
  }
}
